/* Fundo branco para o body */
body {
    background-color: white;
    /* Fundo branco para a página toda */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



/* Barra de navegação */
.navbar {
    width: 100%;
    height: 40px;
    background-color: #fbbf24;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}



/* Container do formulário */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* Cartão do formulário */
.form-card {
    display: flex;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: left;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.form-card form label{
    text-align: left;
}

.form-card form{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 1rem;
}

.logo {
    width: 15rem;
}

/* Título "Seja bem-vindo!" */
.titulo-bemvindo {
    font-family: poppins;
    text-align: center;
    font-weight: bold       ;
}

.input-label {
    padding: 0.12rem;
    display: block;
    color: #4b5563;
    margin-bottom: 0.1rem;
}

.input-field {
    justify-content: center;
    align-items: center;
    width: 15rem;
    padding: 0.9rem;
    border: 1px solid #d1d5db;
    border-radius: 0.9rem;
    font-size: 1rem;
    outline: none;
}

.input-field:focus {
    border-color: #fbbf24;
    box-shadow: 0 0 0 2px rgba(250, 179, 36, 0.5);
}

/* Botão de envio */
.submit-btn {
    background-color: #fbbf24;
    color: white;
    padding: 0.75rem;
    border-radius: 0.375rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.submit-btn:hover {
    background-color: #f59e0b;
}

.submit-btn:active {
    background-color: #eab308;
}