.img-lit {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 5%;
    margin-top: 10%;
  }
  
  .lit {
    right: 100%;;
    width: 100%; 
    max-width: 1000px; 
    border-radius: 10px; 
    box-shadow: 2px 2px 10px rgba(85, 79, 79, 0.1); 
    transition: transform 0.3s ease; 
  }
  
  .lit:hover {
    transform: scale(1.05); 
  }
  .p-6 {
      padding: 1.5rem; 
    }
    
    
    .text-3xl {
      font-size:x-large ;
      margin-top: 2%;
      margin-bottom: 2%;
      font-weight: bold;
      color: black; 
    }
    
   
    .text-lg {
      font-size: 1.125rem;
      line-height: 1.75rem;
      color: black; 
    }
    
 
    .mt-4 {
      margin-top: 1rem;
    }
    
    /* Link estilizado para voltar à home */
    .bg-gray-500 {
      background-color: #fdfd96; 
      
    }
    
    .text-white {
        color: black;
    }
    
    .rounded-lg {
      border-radius: 0.5rem; 
    }
    
    .px-4 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
    .py-2 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    
    /* Estilo para o link quando estiver em hover (passando o mouse) */
    .bg-gray-500:hover {
      background-color: #ffde59; /* Cor mais escura ao passar o mouse */
    }
    
    /* Aumenta o texto do título em dispositivos pequenos */
    @media (max-width: 768px) {
      .text-3xl {
        font-size: 1.5rem; /* Ajusta o título para telas menores */
      }
      .text-lg {
        font-size: 1rem; /* Ajusta o texto para telas menores */
      }
      .px-4 {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    }
